/ApplicazioneKotlinCompose/Progetto-Mobile/*.iml
/ApplicazioneKotlinCompose/Progetto-Mobile/.gradle
/ApplicazioneKotlinCompose/Progetto-Mobile/local.properties
/ApplicazioneKotlinCompose/Progetto-Mobile/.idea/caches
/ApplicazioneKotlinCompose/Progetto-Mobile/.idea/libraries
/ApplicazioneKotlinCompose/Progetto-Mobile/.idea/modules.xml
/ApplicazioneKotlinCompose/Progetto-Mobile/.idea/workspace.xml
/ApplicazioneKotlinCompose/Progetto-Mobile/.idea/navEditor.xml
/ApplicazioneKotlinCompose/Progetto-Mobile/.idea/assetWizardSettings.xml
/ApplicazioneKotlinCompose/Progetto-Mobile.DS_Store
/ApplicazioneKotlinCompose/Progetto-Mobile/build
/ApplicazioneKotlinCompose/Progetto-Mobile/captures
/ApplicazioneKotlinCompose/Progetto-Mobile/.externalNativeBuild
/ApplicazioneKotlinCompose/Progetto-Mobile/.cxx
/ApplicazioneKotlinCompose/Progetto-Mobile/local.properties
